<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>833111296431-h6nsa44a606n36icsin8at58qtckkp9d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.833111296431-h6nsa44a606n36icsin8at58qtckkp9d</string>
	<key>API_KEY</key>
	<string>AIzaSyDiPWVzQowtAJ8g5UmyRiVJqFbgkWohUSY</string>
	<key>GCM_SENDER_ID</key>
	<string>833111296431</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.spiderDream</string>
	<key>PROJECT_ID</key>
	<string>spider-dreams</string>
	<key>STORAGE_BUCKET</key>
	<string>spider-dreams.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:833111296431:ios:4057ad27a1cf0e5586075a</string>
</dict>
</plist>